*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}
/*votre beau css ici :-)*/
.navbar {
    background-color: aliceblue !important;
}

@keyframes top_colors {
    0% {background-color: aliceblue;}
    50% {background-color: azure;}
    100% {background-color: aliceblue;}
}

.top {
    border-style: solid;
    margin:25px 50px 75px 100px;
    padding: 30px;
    animation-name: top_colors;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.container {
    padding: 30px;
}

#hello {
    font-family: 'Times New Roman', Times, serif;
    font-size:1cm;
    text-align: center;
}

.about {
    border-style: solid;
    margin:25px 50px 75px 100px ;
    display: flex;
}
.about p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight:600;
    padding: 25px;
    text-align: justify;
    margin: auto;
}

.interests {
    padding: 30px;
}

.contact {
    padding: 30px;
}

.projects{
    padding: 30px;
    margin:25px 50px 50px 70px ;
}

.projects h2 {
    text-align: center;
}

.w-100 {
    width: 100% !important;
    height: 55vh;
  }

  .button {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    margin-right: 1cm;
    margin-left: 2.5cm;
    padding: 14px 25px;
    text-decoration: none;
}

.intro {
    padding: 30px;
    margin:25px 50px 50px 70px ;
}
